    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <!-- custom js -->
    <% if(typeof jsfooter !== 'undefined' && jsfooter.length > 0 ) { %>
		<% for(var i=0; i<jsfooter.length; i++) { %>
			<script src="/javascripts/<%= jsfooter[i] %>"></script>
		<% } %>
    <% } %>
  </body>
</html>
