<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- custom css -->
    <% if(typeof csslink !== 'undefined' && csslink.length > 0 ) { %>
		<% for(var i=0; i<csslink.length; i++) { %>
			<link href="/stylesheets/<%= csslink[i] %>" rel="stylesheet">
		<% } %>
    <% } %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- custom js -->
    <% if(typeof jsheader !== 'undefined' && jsheader.length > 0 ) { %>
		<% for(var i=0; i<jsheader.length; i++) { %>
			<script src="/javascripts/<%= jsheader[i] %>"></script>
		<% } %>
    <% } %>
  </head>
