<% include ./partials/header %>
  <body>
    <div class="container" ng-app="loginApp" ng-controller="LoginController">
      <form name="form" method="post" class="form-signin" novalidate>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" ng-model="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
        <div class="checkbox hidden">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
<% include ./partials/footer %>
